@use "../utilitarios"as *;

.conteudo{

    background-color: $azul-dark;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    margin-right: 0rem;
    flex-direction: column;
    @include celular{
    }

    &__card{
        height: 350px;
        width: 600px;
        background-color: $azul-escuro;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include celular{
            width: 330px;
        }
        

    }
    &__titulo{
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: 0.8rem;
        color: $verde;
        @include Manrope;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
    }
    &__texto{
        color: $ciano;
        height: 184px;
        font-size: 1.5rem;
        text-align: center;
        @include Manrope;
        margin-right: 2rem;
        margin-left: 2rem;
        @include celular{
            font-size: 1.4rem;
        }

    }
    &__conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        @include celular{
            width: 295px;
            height: 16px;
        }
        
    }
    &__play{
        @include celular{
            display: none;
        }
        
    }
    &__play-mobile{
        display: none;
        @include celular{
            display: block;
        }
    }

    &__circulo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65px;
        width: 65px;
        background-color: $verde;
        border-radius: 50%;
        position: relative;
        top: 30px;
        transition: all 100ms ease-in-out;
        &:hover{
            box-shadow: 0px 0px 20px 4px #52ffa8
        }
    }
}
.attribution{
    position: absolute;
    top: 90%;
    color: white;
    @include celular{
        font-size: 0.8rem;
    }

}
.attribution a{
    color: white;
    @include celular{
        font-size: 0.8rem;
    }
}